body{
    margin: 0;
    padding: 0;
    background-color: rgba(242, 183, 19, 0.979);
}

header{
    color: white;
    text-align: center;
}

h1{
    margin: 0;
    color: white;
    text-align: center;
}

a{
    font-size: 1.5em;
    margin-top: 1em;
    color: white;
    float: right;
    margin-right: 2em;
    font-weight: bolder;
}

.para{
    font-size: 2em;
    color: blueviolet;
}

#menu{
    margin: 2em;
}

h2, h3, h4, p{
    font-size: 2rem;
    color: azure;
}